<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyunseok.spring_basic_pilot.mapper.UserMapper">
    
    <resultMap id="userResultMap" type="com.hyunseok.spring_basic_pilot.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="role" column="role" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    
    <select id="findByUsername" resultMap="userResultMap">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="findByEmail" resultMap="userResultMap">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="findAll" resultMap="userResultMap">
        SELECT * FROM users ORDER BY id ASC
    </select>

    <insert id="insert" parameterType="com.hyunseok.spring_basic_pilot.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, role)
        VALUES (#{username}, #{password}, #{email}, #{role})
    </insert>

    <delete id="deleteById">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>
